[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
pymongo = "*"
"beautifulsoup4" = "*"
flask = "*"
flask-restful = "*"
"flake8" = "*"
schedule = "*"


[requires]

python_version = "3.6"
